table {
  margin: 10px 0;
  border-collapse: collapse;
}

table > caption {
  text-align: left;
  font-size: 0.9em;
}

table tr {
  border-top: #888 1px solid;
}

table th,
table td {
  text-align: left;
  padding: 5px 10px;
}

table th {
  background: #eee;
  font-size: 0.9em;
}

table td.numeric,
table td.price {
  text-align: right;
}
